# Compiled Object files
*.slo
*.lo
*.o
*.obj

# CMake stuff
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
bin/bin/
bin/lib/
bin/src/

# vim swap files
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
